header {
  font-family: $font-secondary;
  font-size: rem(16);
  line-height: 1.5;
  font-weight: 400;
}

.header-main {
  background-color: $color-brand-primary;
}

.header-nav {
  &-link {
    color: $color-white;
  }

  &-list {
    padding: 0 !important;
    margin-bottom: 0 !important;
    display: flex;
    gap: rem(36);
  }
}

.icon-favorite-white {
  font-size: rem(21);
}

.header-actions {
  display: flex;
  justify-content: flex-end;
  gap: rem(24);
}

.header-menu {
  align-items: center;
  padding: rem(8) 0;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
