nav {
  position: sticky;
  background-color: $color-background-primary;
}

.main-navigation-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: rem(44);
}

.main-navigation-item,
.nav-item {
  a {
    color: $color-gray-dark;
  }
}

.main-navigation {
  position: sticky;
  top: 0;
  z-index: 1050;
  border-bottom: 1px solid $color-gray-border;
  width: 100%;
}

.navbar {
  &-main {
    display: flex;
    justify-content: start;
    gap: rem(24);
  }

  &-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: rem(16);
  }
}
