nav {
  position: sticky;
  background-color: $color-background-primary;
}

.main-navigation-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: rem(44);

  @include desktop-md() {
    gap: rem(24);
  }

  @include tablet-lg() {
    gap: rem(20);
    justify-content: center;
  }

  @include mobile-lg() {
    display: none;
  }
}

.main-navigation-item,
.nav-item {
  a {
    color: $color-gray-dark;
  }
}

.main-navigation {
  position: sticky;
  top: 0;
  z-index: 1020;
  border-bottom: 1px solid $color-gray-border;
  width: 100%;

  @include mobile-lg() {
    display: none;
  }
}

.navbar {
  &-main {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: rem(24);
    flex-wrap: wrap;

    @include tablet-md() {
      display: none;
    }

    &--offcanvas {
      display: none;
      margin-top: auto;
      padding-top: rem(24);
      border-top: 1px solid $color-gray-border;

      @include tablet-md() {
        display: flex;
      }

      p {
        margin-bottom: 0;
      }
    }
  }

  &-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: rem(16);
  }
}
