*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: $font-secondary;
  line-height: 1.5;
  font-weight: 400;
  color: $color-dark;
  background: $color-background-primary;
}

.container {
  width: 100%;
  max-width: rem(1560);
  padding-inline: rem(30);

  @include desktop-sm() {
    max-width: rem(1368);
  }

  @include desktop-xs() {
    max-width: rem(1200);
  }

  @include tablet-lg() {
    max-width: rem(1100);
  }

  @include tablet-md() {
    max-width: rem(960);
  }

  @include tablet-sm() {
    max-width: 100%;
  }

  @include mobile-lg() {
    padding-inline: rem(16);
  }

  @include mobile-md() {
    padding-inline: rem(14);
  }

  @include mobile-sm() {
    padding-inline: rem(12);
  }
}

a {
  text-decoration: none;
  color: $color-dark;
}
p {
  color: $color-gray;
}

li {
  list-style: none;
}

ul,
li {
  margin: 0 !important;
  padding: 0 !important;
}

.icon {
  font-size: rem(24);
  border: 1px solid transparent;
  border-radius: 50%;

  &:hover {
    text-decoration: none;
  }
}
