@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter_24pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter_28pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Marcellus";
  src: url("../../assets/fonts/Marcellus-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $font-primary;
  color: $color-dark;
  font-weight: 400;
}

h1,
.h1 {
  font-size: rem(80);
  line-height: 1;

  @include desktop-lg() {
    font-size: rem(62);
  }

  @include tablet-md() {
    font-size: rem(56);
  }

  @include mobile-lg() {
    font-size: rem(52);
  }
}

h2,
.h2 {
  font-size: rem(52);
  line-height: 1.15;

  @include tablet-md() {
    font-size: rem(40);
  }

  @include mobile-lg() {
    font-size: rem(32);
  }
}

h3,
.h3 {
  font-size: rem(40);
  line-height: 1.25;

  @include tablet-md() {
    font-size: rem(32);
  }

  @include mobile-lg() {
    font-size: rem(28);
  }
}

h4,
.h4 {
  font-size: rem(36);
  line-height: 1.2;

  @include mobile-lg() {
    font-size: rem(28);
  }
}

h5,
.h5 {
  font-size: rem(24);
  line-height: 1.3;

  @include mobile-lg() {
    font-size: rem(20);
  }
}

h6,
.h6 {
  font-size: rem(19);
  line-height: 1.5;
}

p {
  font-size: rem(16);
  line-height: 1.5;
  color: $color-dark;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
