button {
  border: none;
  cursor: pointer;
  font-family: $font-primary;
  display: flex;
  align-items: center;
  gap: rem(12);
  background: transparent;
  padding: 0;
}

.btn-primary {
  background-color: $color-brand-primary;
  color: $color-background-primary;
  font-size: rem(18);
  padding: rem(16) rem(32);

  &:hover {
    background-color: #680020;
  }
}

.btn-secondary {
  color: $color-dark;
  font-size: rem(20);
  &:hover {
    .btn-label {
      text-decoration: underline;
      text-underline-offset: rem(8);
    }
  }
}
