button {
  border: none;
  cursor: pointer;
  font-family: $font-primary;
  display: flex;
  align-items: center;
  gap: rem(12);
  background: transparent;
  padding: 0;
}

//primary button
.btn-primary {
  background-color: $color-brand-primary;
  color: $color-background-primary;
  font-size: rem(18);
  padding: rem(16) rem(32);

  &:hover {
    background-color: #680020;
  }
}

//secondary button
.btn-secondary {
  color: $color-dark;
  font-size: rem(20);
  &:hover {
    .btn-label {
      text-decoration: underline;
      text-underline-offset: rem(8);
    }
  }
}

//slider buttons
.slider {
  position: relative;

  &:hover {
    .slider-nav:not(.is-hidden) {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }
}

.slider-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2000;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: rem(12);

  border: 1px solid $color-gray-border-light;
  background: $color-white;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition:
    opacity 0.25s ease,
    visibility 0.25s ease;

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &--prev {
    left: rem(12);

    .icon-arrow-primary {
      transform: rotate(180deg);
    }
  }

  &--next {
    right: rem(12);
  }

  &.is-hidden {
    display: none;
  }
}
