.combo-offers-section {
  border-bottom: 1px solid $color-gray-border-light;
  overflow-x: clip;

  .col-lg-6 {
    min-width: 0;
  }

  .slider__item {
    width: calc(50% - #{rem(12)});

    @include mobile-lg() {
      width: 80%;
    }
  }

  .oval-image-product-occasion {
    max-width: none;
  }
}

.combo-offers-button {
  margin-top: rem(32);
  margin-inline: auto;
}

.combo-offers-image {
  position: relative;

  max-width: 100%;

  @include tablet-lg() {
    margin-bottom: rem(24);
  }

  span {
    font-size: rem(63);

    @include tablet-md() {
      font-size: rem(48);
    }

    @include mobile-lg() {
      font-size: rem(36);
    }
  }

  .icon-star {
    position: absolute;
    top: 0;
    right: rem(-60);
    transform: translateY(-70%);
    z-index: 2;

    @include tablet-md() {
      right: rem(-16);
    }

    @include mobile-lg() {
      right: rem(8);
    }
  }
}
