.heading-spacing {
  margin-bottom: rem(12);
}

.section-spacing {
  padding: rem(80) 0;

  @include tablet-md() {
    padding: rem(56) 0;
  }

  @include mobile-lg() {
    padding: rem(40) 0;
  }

  &-hero {
    padding: rem(32) 0;

    @include mobile-lg() {
      padding: rem(24) 0;
    }
  }
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  // flex-wrap: wrap;
  // gap: rem(16);

  &__title {
    margin-bottom: rem(12);
  }

  &__subtitle {
    color: $color-gray-dark;
    margin-bottom: rem(36);

    @include mobile-lg() {
      margin-bottom: rem(24);
    }
  }

  &__action {
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;

    @include mobile-lg() {
      justify-content: flex-start;
    }
  }
}
