.shop-by-occasion-section {
  background-color: $color-background-secondary;
}

.shop-by-occasion {
  &-image {
    position: relative;
    display: flex;

    img {
      padding: rem(20);
      border-radius: rem(200);
    }

    @include tablet-lg() {
      justify-content: center;
      align-items: center;
    }
  }

  &-icon {
    position: absolute;
    top: 0;
    right: rem(60);
    font-size: rem(60);

    @include tablet-md() {
      right: rem(24);
      font-size: rem(48);
    }

    @include mobile-lg() {
      right: rem(12);
      font-size: rem(36);
    }
  }

  &-text-content {
    position: sticky;
    top: rem(100);

    @include tablet-md() {
      position: static;
    }
  }

  &-content {
    p {
      color: $color-gray-dark;
      margin-top: rem(24);
      margin-bottom: rem(48);
    }
  }
}

.occasion-card {
  span {
    margin: rem(20) 0;
  }
}

.shop-by-occasion {
  &-scroll {
    display: flex;
    flex-direction: column;
    gap: rem(20);
    padding-top: rem(100);

    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

    scrollbar-width: none;

    @include tablet-md() {
      padding-top: rem(40);
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &-row {
    scroll-snap-align: start;
    flex-shrink: 0;
    display: flex;
    justify-content: end;

    @include tablet-md() {
      justify-content: center;
    }
  }
}
