.slider {
  &__track {
    display: flex;
    justify-content: space-between;
    gap: rem(24);
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    @include desktop-sm() {
      gap: rem(24);
    }
  }

  &__item {
    flex-shrink: 0;
    scroll-snap-align: start;
  }
}
