.testimonial {
  &-text {
    flex: 1;
    min-width: 0;

    margin-left: rem(-80);
    padding: rem(56) rem(46) rem(56) rem(100);
    background-color: rgba($color-accent, 0.5);
    border: 1px solid $color-brand-secondary;
    border-top-right-radius: rem(100);

    @include desktop-sm() {
      margin-left: rem(-48);
      padding: rem(40) rem(32) rem(40) rem(64);
    }

    @include tablet-md() {
      margin-left: rem(-40);
      padding: rem(32) rem(24) rem(32) rem(56);
    }

    @include mobile-lg() {
      margin-left: rem(-28);
      padding: rem(24) rem(16) rem(24) rem(40);
    }

    p {
      margin-top: rem(24);
    }
  }

  &-content {
    display: flex;
    align-items: center;
  }

  &-image {
    position: relative;
    z-index: 1000;
    flex-shrink: 0;
  }

  &-rating {
    display: flex;
    align-items: center;
    gap: rem(4);

    &-text {
      font-size: rem(14);
      margin-left: rem(4);
    }
  }
}

.testimonial-section {
  overflow-x: clip;

  .testimonial-slider {
    width: calc(100% + (100vw - 100%) / 2);

    &::after {
      content: "";
      flex: 0 0 10%;
    }

    .testimonial-item {
      width: 40%;
      min-width: rem(520);

      @include desktop-sm() {
        width: 55%;
        min-width: rem(420);
      }

      @include tablet-md() {
        width: 75%;
        min-width: rem(360);
      }

      @include mobile-lg() {
        width: 90%;
        min-width: 0;
      }

      @include mobile-md() {
        .testimonial-image {
          display: none;
        }

        .testimonial-text {
          margin-left: 0;
        }
      }
    }

    &-container {
      overflow: visible;
      padding: rem(56) 0;

      @include mobile-lg() {
        padding: rem(32) 0;
      }
    }
  }
}
