.top-offers {
  &-image {
    position: relative;
  }

  &-offer-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: rem(24);
    padding: rem(28);

    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 2;
  }

  &-offer {
    font-family: $font-primary;
    font-size: rem(40);
    line-height: 1.1;
    color: $color-offers-text;

    @include mobile-lg() {
      font-size: rem(28);
    }

    span {
      font-size: rem(52);

      @include mobile-lg() {
        font-size: rem(36);
      }
    }
  }

  &-offer-text {
    color: $color-gray-darkest;
    margin-top: rem(8);
    text-align: center;

    @include mobile-lg() {
      font-size: rem(14);
    }
  }

  &-button {
    margin-top: rem(24);
  }
}

.top-offers-section {
  border-bottom: 1px solid $color-gray-border-light;
  overflow-x: clip;

  .top-offers-slider {
    width: calc(100% + (100vw - 100%) / 2);

    &::after {
      content: "";
      flex: 0 0 10%;
    }
  }
}
